@{
    ViewData["Title"] = "Strona główna";
}
<div class="card shadow border-0 mt-4">
    <div class="card-header text-center text-light bg-secondary shadow">
        <div class="card-header bg-secondary ml-0 py-0 font-weight-bold">
            <h1 class="display-6">Via Sancta Mobility</h1>
            <p class="lead">Podążaj śladem naszych opon, a zrozumiesz, że podróż z nami to nie tylko droga, lecz także boski plan dla Twojego podróżowania przez czas.</p>
        </div>
    </div>
    <div class="card-body p-4 bg-light shadow">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Drzwi do nowego doświadczenia</h2>
                    <p>W każdym kilometrze, jaki pokonujemy, niesiemy ze sobą wartość solidarności, odpowiedzialności i profesjonalizmu. Działamy nie tylko jako firma autobusowa, ale jako łącznik pomiędzy wspólnotami, budując mosty porozumienia i wzmacniając więzi społeczne.</p>
                </div>
                <div class="col-md-6">
                    <h2>Święta trasa mobilności</h2>
                    <p>Nasza firma to podróż w nieznane, to podróż, która nie tylko przemieszcza ciała, ale także otwiera umysły. Jesteśmy dumą mobilności, symbolem wolności i szansy na odkrywanie nowych horyzontów. Wierzymy, że każda podróż z nami to nie tylko podróż fizyczna, ale także podróż ku lepszemu, bardziej zjednoczonemu społeczeństwu.</p>
                </div>
            </div>
        </div>

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="image-container">
                        <img style="border-radius:30px; border: 1px solid #d3d2ca" class="d-block w-100" src="~/resources/pictures/bus_1.png" alt="First slide">
                        <div class="overlay"></div>
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Symfonia Przestrzeni: Autobusy jako Bohaterowie Drogowych Opowieści</h5>
                        <p>"W blasku zachodzącego słońca, autobus staje się złotym wozem, przemieszczającym się przez miasto jak symbol nieograniczonej podróży."</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="image-container">
                        <img style="border-radius:30px; border: 1px solid #d3d2ca" class="d-block w-100" src="~/resources/pictures/bus_2.png" alt="Second slide">
                        <div class="overlay"></div>
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Przez Szyby Czasu: Autobusy Wznoszące Się Nad Zwykłość</h5>
                        <p>"Moment zatrzymany: autobus w ruchu, zamglony przez szybę deszczu, tworzy malowniczy pejzaż miejskich podróży."</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="image-container">
                        <img style="border-radius:30px; border: 1px solid #d3d2ca" class="d-block w-100" src="~/resources/pictures/bus_3.png" alt="Third slide">
                        <div class="overlay"></div>
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Eteryczne Podróże W Społeczności Żelaznych Łącz</h5>
                        <p>"W świetle porannego mglistego wschodu, autobus kroczy przez ulice, przywodząc na myśl magiczną podróż w nieznane</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="image-container">
                        <img style="border-radius:30px; border: 1px solid #d3d2ca" class="d-block w-100" src="~/resources/pictures/bus_4.png" alt="Fourth slide">
                        <div class="overlay"></div>
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Śladami Złotego Wieku Podróży na Kołach</h5>
                        <p>"Autobus w chwili spokoju, zatrzymany na pustej ulicy, emanuje siłą gotową do nowej podróży przez miejską dżunglę."</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Poprzedni</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Następny</span>
            </a>
        </div>
    </div>
</div>
<div class="mt-4 text-secondary">
    <p>*cała treść tej strony została stworzona przez rózne modele sztucznej inteligencji</p>
</div>
